/* src/SideBar.css */
.sidebar {
  width: 30%;
  max-width: 250px;
  background-color: #f4f4f4;
  /* padding: 20px; */
  height: 100vh;
  border: 1px solid gray;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  margin: 2px 0px;
  padding: 10px;
}
.active_sidebar {
  background-color: #ff00ff2a;
  border: 1px solid purple;
}

.sidebar-item.roles {
  border-left: 4px solid yellow;
}
.sidebar-item.positions {
  border-left: 4px solid blue;
}
.sidebar-item.activities {
  border-left: 4px solid red;
}
